#index-body {
  text-align: center;
}

#welcome {
  font-size: 200px;
  padding: 0px;
  margin: 75px 0px 0px 0px;
  font-family: 'Abril Fatface', cursive;
}

a {
  color: grey;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Sacramento', cursive;
  margin: 0px 20px 0px 20px;
}

/* HOME  */

/* LOGIN  */

/* SIGN-UP */
