<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Class</title>
  </head>
  <body>
    <h1>Add class</h1>
    <form action="/addclass" method="post">
      <p>
        <input type="text" name="className" placeholder="Class name">
      </p>
      <p>
        <input type="number" name="presentGrade" placeholder="Grade now">
      </p>
      <p>
        <input type="number" name="wantedGrade" placeholder="Grade you want">
      </p>
      <p>
        <input type="number" name="percentTest" placeholder="Percent test is worth">
      </p>
      <input type="submit" value="Add Class">
    </form>
    <a href="/home">Back to Home</a>
  </body>
</html>
