<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Forgot Password</title>
  </head>
  <body>
    <h1>Forgot Password?</h1>
    <p>Enter your email below: </p>
    <form action="/forgotpassword" method="post">
      <p>
        <input type="text" name="email" placeholder="something@gmail.com">
      </p>
      <input type="submit" name="" value="Go">
    </form>
  </body>
</html>
