<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reset Password</title>
  </head>
  <body>
    <h1>Reset Password</h1>
    <p>Gmail: {{userEmail}}</p>
    <form action="/resetPassword/:userEmail" method="post">
      <p>
        <input type="password" name="" placeholder="New password">
      </p>
      <input type="submit" name="" value="Reset Password">
    </form>
  </body>
</html>
