<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="/register" method="post">
      <p>
        <input type="text" name="email" placeholder="youremail@gmail.com">
      </p>
      <p>
        <input type="password" name="password" placeholder="*********">
      </p>
      <p>
        <input type="submit">
      </p>
    </form>
  </body>
</html>
