<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Sacramento" rel="stylesheet">
  </head>
  <body>
    <h1>Homepage!</h1>
    <p>Email: {{userEmail}}</p>
    <form action="/logout" method="post">
      <input type="submit" name="Logout" value="logout">
    </form>
  </body>
</html>
