<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Sacramento" rel="stylesheet">
  </head>
  <body id="index-body">
    <p id="welcome">Welcome</p>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  </body>
</html>
