<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form Test</title>
  </head>
  <body>
    <form method="post" action="/">
      <label>Name</label>
      <input type="text" name="user[name]">
      <input type="submit" value="Submit">
    </form>
    <p>{{name}}</p>
  </body>
</html>
